<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td style="width:580px; max-width:580px;">
                <div style="width: 580px; height: 78px;">
                    <img src="http://www.kpmginfo.com/brandcentral/ecommunications/images/screen_580x78.jpg" />
                </div>
                <table style="font-family:Arial; font-size:10pt;">
                    <tr>
                        <td align="center">
                            <div style="color:teal; font-weight:bold; font-size:14pt;">Workspace Flagged for Preservation</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>
                                {{CurrentDate}}
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                The following workspace has been flagged as being under preservation pursuant to a preservation notice (Preservation Notice) issued by the Office of General Counsel (OGC).
                                This flag was activated because an authorized user in the DRMS workspace answered “yes” to the question, “Is any information in the workspace subject to preservation?”
                                in the DRMS workspace profile.
                            </p>
                            <p>
                                If you are not sure you understand the difference between retention and preservation, review Section 2 of the
                                <a href="http://usportal.us.kworld.kpmg.com/US/FirmResources/IMO/Documents/DRM Policy - Enterprise Version.pdf">Documents and Records Management Policy</a>
                                or consult with OGC.
                            </p>
                            <p>
                                If this preservation flag was set in error, you may access the DRMS workspace profile and change the answer so that it properly reflects the status of the information.
                            </p>
                            <p>
                                Nothing in this workspace should be deleted or altered. Please consult with OGC if you have any question as to how to comply with KPMG LLP policies regarding preservation
                                when using this workspace. Contact the OGC Attorney listed in the Preservation Notice or visit the
                                <a href="http://usportal.us.kworld.kpmg.com/us/ProfessionalismAndIntegrity/OGC/Pages/default.aspx?usersegment=861693EC52BC9AD3F39E92AB0C250961">OGC website.</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <table style="font-family:Arial; font-size:10pt;">
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td style="white-space: nowrap">
                                        Workspace Name:
                                    </td>
                                    <td>
                                        {{WorkspaceName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td style="white-space: nowrap">
                                        Client Name:
                                    </td>
                                    <td >
                                        {{ClientName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td style="white-space: nowrap">
                                        Workspace Owner(s):
                                    </td>
                                    <td>
                                        {{WsOwners_Admin}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td style="white-space: nowrap">
                                        Workspace Members:
                                    </td>
                                    <td>
                                        {{Ws_Members}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <div style="font-weight:bold;">What you need to know:</div>
                            <ul>
                                <li>
                                    As noted above, nothing in this workspace should be deleted or altered.  If necessary, you may make a copy of information contained within the workspace.
                                    If you need to change anything in this workspace, you will need to create a new version and work on and change that version only.  Utilize the ‘copy as new version’ function to do so.
                                </li>
                                <li>
                                    You should copy, rather than move, emails from your PSTs to this workspace by using the Outlook Edit menu and choosing the ‘Copy to Folder’ option.
                                </li>
                                <li>
                                    If you had already checked out documents from this workspace, you must check them back in as a new version, and preserve any copies outside of the workspace (e.g. copies on your computer).
                                    Make sure the “Delete local file after check in” box is <b>un-checked</b> when you follow the check-in instructions.
                                </li>
                                <li>
                                    As a reminder, if you previously printed any documents and/or records from this workspace, you must preserve those hard-copy versions as well.
                                    New folders and documents can still be created in this workspace, unless you have been otherwise advised by OGC.
                                </li>
                                <li>
                                    You will be able see the preservation ‘flag’ by viewing the status field within the properties of the DRMS workspace and documents.
                                </li>
                            </ul>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            For general information and guidance about complying with a Preservation Notice, refer to the
                            <br />
                            <a href="http://usportal.us.kworld.kpmg.com/us/ProfessionalismAndIntegrity/OGC/Documents/download05b.pdf">Document Preservation Guide</a>.
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            In addition, each partner and employee at KPMG has an individual
                            <a href="http://preservation.us.kworld.kpmg.com/profile/">Preservation Profile</a>
                            which can be accessed to see the Preservation Notices relevant to each individual, including those relating to an entity to which an individual has charged time or expenses.
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="font-weight:bold;">Questions?</div>
                            <br />
                            If you have any questions that are not related to preservation, but are related to document retention or other matters, you can email the
                            <a href="mailto:us-drmadminsupport@kpmg.com">DRM Admin Support</a>.
                            Alternatively, the National Support Center is available 24 hours a day, seven days a week at 1-800-KPMG-HELP or you can double-click the ITS Support Center icon in the bottom right corner of your desktop.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>  