<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td style="width:580px; max-width:580px;">
                <div style="width: 580px; height: 78px;">
                    <img src="http://www.kpmginfo.com/brandcentral/ecommunications/images/screen_580x78.jpg" />
                </div>
                <table style="font-family:Arial; font-size:10pt;">
                    <tr>
                        <td align="center">
                            <div style="color:teal; font-weight:bold; font-size:14pt;">DRMS Workspace Preservation Flag Removed</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>
                                {{CurrentDate}}
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            The preservation flag associated with the following workspace has been removed.
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="font-family:Arial; font-size:10pt;">
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        Workspace Name:
                                    </td>
                                    <td>
                                        {{WorkspaceName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        Client Name:
                                    </td>
                                    <td>
                                        {{ClientName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        Workspace Owner(s):
                                    </td>
                                    <td>
                                        {{WsOwners_Admin}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        Workspace Members:
                                    </td>
                                    <td>
                                        {{Ws_Members}}
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            Documents and records in this workspace will once again be governed by the applicable document retention policy, if any.
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            For additional guidance and information on the OGC process for lifting Preservation Notices, please visit the
                            <a href="http://usportal.us.kworld.kpmg.com/us/ProfessionalismAndIntegrity/OGC/Pages/default.aspx?usersegment=861693EC52BC9AD3F39E92AB0C250961">
                                OGC website
                            </a>
                            or the appropriate OGC contact.
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="font-weight:bold;">Questions?</div>
                            <br />
                            If you have any questions, you can email the
                            <a href="mailto:us-drmadminsupport@kpmg.com">DRM Admin Support</a>.
                            Alternatively, the National Support Center is available 24 hours a day, seven days a week at 1-800-KPMG-HELP or
                            you can double-click the ITS Support Center icon in the bottom right corner of your desktop.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>