<div class="row-fluid col-xs-12 col-md-12 padding-0">

    <div class="float-right padding-0">
        <button id="btnRETnRFConfirm" class="btn btn-primary btn-xs" type="submit">
            <i class='glyphicon glyphicon-ok'></i> Confirm Request
        </button>
        <button id="btnRETnRFCancle" class="btn btn-primary btn-xs" type="button">
            <i class='glyphicon glyphicon-remove'></i> Cancel
        </button>
    </div>

</div>

