
<div class="row-fluid col-xs-12 col-md-12 padding-0">
    
    <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
        <label class="control-label col-xs-12 col-md-12 padding-0">
            Third Party Service Provider Questions:
        </label>
    </div>

    <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
        <label class="control-label row-fluid col-xs-12 col-md-12 padding-0" for="divAgrClient">
            @*1. The language below reflects the standard engagement letter language.  Please confirm there have been no modifications to this language in your engagement letter.*@
            1. The language below reflects the standard engagement letter language from 2012 and from 2015. Please confirm your engagement letter contains one of the following and that there are not modifications to this language.
        </label>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            @*<p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers to provide professional services and administrative, analytical and clerical support.  These parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>*@
            <p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers to provide professional services and administrative, analytical and clerical support.  These parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>
            <p class="margin-0 font-italic">OR</p>
            <p class="margin-0 font-italic">KPMG may work with and use the services of other members of the international KPMG network of independent firms and entities controlled by, or under common control with, one or more KPMG member firms (together with KPMG, the “KPMG Firms”) to provide services to [Sample Company].  In connection with the performance of services under this Engagement Letter, the KPMG Firms may, in their discretion, utilize the services of third party service providers within or outside of the United States to complete the services under this Engagement Letter.  KPMG Firms and such third parties may have access to your confidential information from offshore locations.  In addition, KPMG uses third party service providers within and outside of the United States to provide, at its direction, back-office administrative and clerical services to KPMG and these third party service providers may in the performance of such services have access to your confidential information.  KPMG represents that it has technical, legal and/or other safeguards, measures and controls in place to protect your confidential information from unauthorized disclosure or use.</p>
        </div>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <div id="divAgrClient" class="input-append">
                <label class="radio-inline">
                    <input type="radio" name="radAgrClient" id="radAgrClientYes" value="Yes" required data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q1" class="enableOnEdit enableOnEdit_TP"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radAgrClient" id="radAgrClientNo" value="No" data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q1" class="enableOnEdit enableOnEdit_TP"> No
                </label>
            </div>
        </div>
    </div>

    <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
        <label class="control-label row-fluid col-xs-12 col-md-12 padding-0" for="divAgrClientCal">
            @*2. Where a report is issued by a California KPMG LLP office or a substantial portion of the engagement is conducted within the State of California, does your engagement letter contain the following language? <font class="font-asterisk-required"></font>*@
            2. Where a report is issued by a California KPMG LLP office or a substantial portion of the engagement is conducted within the State of California, does your engagement letter contain the following language?
        </label>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            @*<p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers within and outside the United States to provide professional services and administrative, analytical and clerical support.  You agree that these parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>*@
            <p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers within and outside the United States to provide professional services and administrative, analytical and clerical support.  You agree that these parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>
            <p class="margin-0 font-italic">OR</p>
            <p class="margin-0 font-italic">KPMG may work with and use the services of other members of the international KPMG network of independent firms and entities controlled by, or under common control with, one or more KPMG member firms (together with KPMG, the “KPMG Firms”) to provide services to [Sample Company].  In connection with the performance of services under this Engagement Letter, the KPMG Firms may, in their discretion, utilize the services of third party service providers within or outside of the United States to complete the services under this Engagement Letter.  KPMG Firms and such third parties may have access to your confidential information from offshore locations.  In addition, KPMG uses third party service providers within and outside of the United States to provide, at its direction, back-office administrative and clerical services to KPMG and these third party service providers may in the performance of such services have access to your confidential information.  KPMG represents that it has technical, legal and/or other safeguards, measures and controls in place to protect your confidential information from unauthorized disclosure or use.</p>
        </div>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <div id="divAgrClientCal" class=" input-append">
                <label class="radio-inline">
                    <input type="radio" name="radAgrClientCal" id="radAgrClientCalYes" value="Yes" required data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q2" class="enableOnEdit enableOnEdit_TP"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radAgrClientCal" id="radAgrClientCalNo" value="No" data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q2" class="enableOnEdit enableOnEdit_TP"> No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radAgrClientCal" id="radAgrClientCalNA" value="NA" data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q2" class="enableOnEdit enableOnEdit_TP"> NA
                </label>
            </div>
        </div>
    </div>

    <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
        <label class="control-label row-fluid col-xs-12 col-md-12 padding-0" for="divKPMGContEnt">
            3. Are you aware of anything that would prohibit KPMG from utilizing KPMG controlled entities, member firms, or a third party service provider within or outside the United States?  Before responding, ensure that you consider: <font class="font-asterisk-required"></font>
        </label>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <p class="margin-0 font-italic">
                a) Engagement letter including terms and conditions (e.g. only U.S. citizens authorized under contract or engagement letter may access the engagement file)
                <br />
                b) Other agreement provisions
                <br />
                c) Laws and Regulations
                <br />
                d) Expectations of the client
            </p>
        </div>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <div id="divKPMGContEnt " class="input-append">
                <label class="radio-inline">
                    <input type="radio" name="radKPMGContEnt" id="radKPMGContEntYes" value="Yes" required data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q3" class="enableOnEdit enableOnEdit_TP"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radKPMGContEnt" id="radKPMGContEntNo" value="No" data-bind="checked: isWsCreate ? '' : WsProfile_TP.TP_Q3" class="enableOnEdit enableOnEdit_TP"> No
                </label>
            </div>
        </div>
    </div>

    <div class="row-fluid col-xs-12 col-md-12 padding-0" id="radKPMGContEnt_Q3">
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <p class="margin-0">
                If yes, please briefly describe below: <font class="font-asterisk-required"></font>
            </p>
        </div>
        <div class="row-fluid col-xs-12 col-md-12 padding-0">
            <textarea class="form-control enableOnEdit enableOnEdit_TP textarea-resize" rows="3" name="txtADesc" id="txtADesc" maxlength="1000" data-bind="value: isWsCreate ? '' : WsProfile_TP.TP_Q3_Comment"></textarea>
        </div>
    </div>

</div>



