<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://useomapd1221.us.kworld.kpmg.com:8002/MAFService.svc"
                binding="basicHttpBinding" bindingConfiguration="CoreService"
                contract="S2MafService.IMAFService" name="CoreService" />
        </client>
    </system.serviceModel>
</configuration>