<form id="frmCreateWS">
    @Html.AntiForgeryToken()
    <div class="row-fluid col-xs-12 col-md-12 padding-0">

        <input type="hidden" id="txtEngMgrId_CreateWs" name="txtEngMgrId_CreateWs" value="" />
        <input type="hidden" id="txtEngParId_CreateWs" name="txtEngParId_CreateWs" value="" />
        <input type="hidden" id="txtManagerFunction" name="txtManagerFunction" value="" />
        <input type="hidden" id="txtPartnerFunction" name="txtPartnerFunction" value="" />
        <input type="hidden" id="txtClientNumber_CreateWs" name="txtClientNumber_CreateWs" value="" />
        <input type="hidden" id="txtParentCompany" name="txtParentCompany" value="" />

        <input type="hidden" id="txtPartnerAssistanceId" name="txtPartnerAssistanceId" value="" />
        <input type="hidden" id="txtPartnerAssistanceName" name="txtPartnerAssistanceName" value="" />

        <input type="hidden" id="txtEngMgrEmpId_CreateWs" name="txtEngMgrEmpId_CreateWs" value="" />
        <input type="hidden" id="txtEngParEmpId_CreateWs" name="txtEngParEmpId_CreateWs" value="" />
        <input type="hidden" id="txtPartnerAssistanceEmpId" name="txtPartnerAssistanceEmpId" value="" />

        <div class="row-fluid col-xs-12 col-md-12 padding-0">

            <div id="divWSAlreadyExists" class="row-fluid col-xs-12 col-md-12  padding-5 txt-align-center"></div>

            <div class="row-fluid col-xs-12 col-md-12 padding-0">
                <label id="lblValidSyncEngNum" class="control-label col-xs-3 col-md-3 padding-0" for="txtEngId_CreateWs">
                    Enter a valid SYNC Engagement Number
                </label>
                <div class="col-xs-4 col-md-4 padding-0">
                    <input class="form-control onlyNumber" id="txtEngId_CreateWs" name="txtEngId_CreateWs" type="number" placeholder="Engagement Number">
                </div>
                <div class="divCreateDetails">
                    <label class="control-label col-xs-2 col-md-2 padding-left-10" for="txtEngName_CreateWs">
                        Engagement Name
                    </label>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <input class="form-control" id="txtEngName_CreateWs" name="txtEngName_CreateWs" type="text" disabled>
                    </div>
                </div>
            </div>

            <div class="row-fluid col-xs-12 col-md-12 padding-0 divCreateDetails">

                <div class="row-fluid col-xs-12 col-md-12 padding-0">
                    <label class="control-label col-xs-2 col-md-2 padding-0" for="txtEngPar_CreateWs">
                        Engagement Partner
                    </label>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <input class="form-control" id="txtEngPar_CreateWs" name="txtEngPar_CreateWs" type="text" disabled>
                    </div>
                    <label class="control-label col-xs-2 col-md-2 padding-left-10" for="txtEngMgr_CreateWs">
                        Engagement Manager
                    </label>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <input class="form-control" id="txtEngMgr_CreateWs" name="txtEngMgr_CreateWs" type="text" disabled>
                    </div>
                </div>

                <div class="row-fluid col-xs-12 col-md-12 padding-0">
                    <label class="control-label col-xs-2 col-md-2 padding-0" for="txtClient_CreateWs">
                        Client
                    </label>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <input class="form-control" id="txtClient_CreateWs" name="txtClient_CreateWs" type="text" disabled>
                    </div>
                </div>

                <div class="row-fluid col-xs-12 col-md-12 rowSpacing-5">
                </div>

                <div id="div-req-msg-createWS" class="row-fluid col-xs-12 col-md-12 padding-0">
                    <label class="control-label margin-top-bottom-5- col-xs-12 col-md-12 padding-0">
                        <mark class="form-msg-red">Please respond to the following required questions prior to creating workspace.</mark>
                    </label>
                </div>
                <div class="row-fluid col-xs-12 col-md-12 padding-0">
                    <label class="control-label col-xs-12 col-md-12 padding-0">
                        Third Party Service Provider Questions:
                    </label>
                </div>

                <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
                    <label class="control-label col-xs-12 col-md-12 padding-0" for="divAgrClient_CreateWs">
                        @*1. The language below reflects the standard engagement letter language.  Please confirm there have been no modifications to this language in your engagement letter.*@
                        1. The language below reflects the standard engagement letter language from 2012 and from 2015. Please confirm your engagement letter contains one of the following and that there are not modifications to this language.
                    </label>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        @*<p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers to provide professional services and administrative, analytical and clerical support.  These parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>*@
                        <p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers to provide professional services and administrative, analytical and clerical support.  These parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>
                        <p class="margin-0 font-italic">OR</p>
                        <p class="margin-0 font-italic">KPMG may work with and use the services of other members of the international KPMG network of independent firms and entities controlled by, or under common control with, one or more KPMG member firms (together with KPMG, the “KPMG Firms”) to provide services to [Sample Company].  In connection with the performance of services under this Engagement Letter, the KPMG Firms may, in their discretion, utilize the services of third party service providers within or outside of the United States to complete the services under this Engagement Letter.  KPMG Firms and such third parties may have access to your confidential information from offshore locations.  In addition, KPMG uses third party service providers within and outside of the United States to provide, at its direction, back-office administrative and clerical services to KPMG and these third party service providers may in the performance of such services have access to your confidential information.  KPMG represents that it has technical, legal and/or other safeguards, measures and controls in place to protect your confidential information from unauthorized disclosure or use.</p>
                    </div>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <div class="input-append" id="divAgrClient_CreateWs">
                            <label class="radio-inline">
                                <input type="radio" name="radAgrClient_CreateWs" id="radAgrClient_CreateWs_Yes" value="Yes" required class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q1"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radAgrClient_CreateWs" id="radAgrClient_CreateWs_No" value="No" class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q1"> No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
                    <label class="control-label col-xs-12 col-md-12 padding-0" for="divAgrClientCal_CreateWs">
                        @*2. Where a report is issued by a California KPMG LLP office or a substantial portion of the engagement is conducted within the State of California, does your engagement letter contain the following language? <font class="font-asterisk-required"></font>*@
                        2. Where a report is issued by a California KPMG LLP office or a substantial portion of the engagement is conducted within the State of California, does your engagement letter contain the following language?
                    </label>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        @*<p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers within and outside the United States to provide professional services and administrative, analytical and clerical support.  You agree that these parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>*@
                        <p class="margin-0 font-italic">KPMG uses the services of KPMG controlled entities, KPMG member firms and/or third party service providers within and outside the United States to provide professional services and administrative, analytical and clerical support.  You agree that these parties may have access to certain of your information with the understanding that the confidential information will be maintained under information controls providing equivalent protection as our own.</p>
                        <p class="margin-0 font-italic">OR</p>
                        <p class="margin-0 font-italic">KPMG may work with and use the services of other members of the international KPMG network of independent firms and entities controlled by, or under common control with, one or more KPMG member firms (together with KPMG, the “KPMG Firms”) to provide services to [Sample Company].  In connection with the performance of services under this Engagement Letter, the KPMG Firms may, in their discretion, utilize the services of third party service providers within or outside of the United States to complete the services under this Engagement Letter.  KPMG Firms and such third parties may have access to your confidential information from offshore locations.  In addition, KPMG uses third party service providers within and outside of the United States to provide, at its direction, back-office administrative and clerical services to KPMG and these third party service providers may in the performance of such services have access to your confidential information.  KPMG represents that it has technical, legal and/or other safeguards, measures and controls in place to protect your confidential information from unauthorized disclosure or use.</p>
                    </div>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <div class="input-append" id="divAgrClientCal_CreateWs">
                            <label class="radio-inline">
                                <input type="radio" name="radAgrClientCal_CreateWs" id="radAgrClientCal_CreateWs_Yes" value="Yes" required class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q2"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radAgrClientCal_CreateWs" id="radAgrClientCal_CreateWs_No" value="No" class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q2"> No
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radAgrClientCal_CreateWs" id="radAgrClientCal_CreateWs_NA" value="NA" class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q2"> NA
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row-fluid col-xs-12 col-md-12 padding-0 margin-bottom-5">
                    <label class="control-label col-xs-12 col-md-12 padding-0" for="divKPMGContEnt_CreateWs">
                        3. Are you aware of anything that would prohibit KPMG from utilizing KPMG controlled entities, member firms, or a third party service provider within or outside the United States?  Before responding, ensure that you consider: <font class="font-asterisk-required"></font>
                    </label>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <p class="margin-0 font-italic">
                            a) Engagement letter including terms and conditions (e.g. only U.S. citizens authorized under contract or engagement letter may access the engagement file)
                            <br />
                            b) Other agreement provisions
                            <br />
                            c) Laws and Regulations
                            <br />
                            d) Expectations of the client
                        </p>
                    </div>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <div class="input-append" id="divKPMGContEnt_CreateWs">
                            <label class="radio-inline">
                                <input type="radio" name="radKPMGContEnt_CreateWs" id="radKPMGContEnt_CreateWs_Yes" value="Yes" required class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q3"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radKPMGContEnt_CreateWs" id="radKPMGContEnt_CreateWs_No" value="No" class="disable-when-ws-exists" data-bind="checked: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q3"> No
                            </label>
                        </div>
                    </div>
                </div>

                <div id="radKPMGContEnt_CreateWs_Q3">
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <p class="margin-0">
                            If yes, please briefly describe below: <font class="font-asterisk-required"></font>
                        </p>
                    </div>
                    <div class="row-fluid col-xs-12 col-md-12 padding-0">
                        <textarea class="form-control disable-when-ws-exists textarea-resize" rows="3" name="txtADesc_CreateWs" id="txtADesc_CreateWs" maxlength="1000" data-bind="value: IsNothing(viewModel.tp_Ques()) ? '' : viewModel.tp_Ques().TP_Q3_Comment"></textarea>
                    </div>
                </div>
            </div>

            <div class="row-fluid col-xs-12 col-md-12 rowSpacing-5">
            </div>

            <div class="row-fluid col-xs-12 col-md-12 padding-0 divCreateDetails divCreateDetails-btn">
                <div class="float-right">
                    <button id="btnCreateWS_CreateWs" class="btn btn-primary btn-xs" type="button">
                        <i class='glyphicon glyphicon-pencil'></i> Create Workspace
                    </button>
                    <button id="btnClear_CreateWs" class="btn btn-primary btn-xs" type="button">
                        <i class='glyphicon glyphicon-remove'></i> Clear
                    </button>
                </div>
            </div>

        </div>

    </div>

</form>

<script type="text/javascript">

    function Success_CallBack() {
        $("#btnClear_CreateWs").trigger("click");
    }

    $(function () {

        $(".divCreateDetails").hide();

        //$("#radKPMGContEnt_CreateWs_Q3").hide();

        //$("input[name=radKPMGContEnt_CreateWs]:radio").on('change', function () {

        //    switch ($(this).val()) {
        //        case 'Yes':
        //            $("#txtADesc_CreateWs").prop("required", true);
        //            $("#radKPMGContEnt_CreateWs_Q3").show();
        //            break;
        //        case 'No':
        //            $("#txtADesc_CreateWs").prop("required", false);
        //            $("#radKPMGContEnt_CreateWs_Q3").hide();
        //            break;
        //    }
        //});

        var availableTags = [
        "ActionScript",
        "AppleScript",
        "Asp",
        "BASIC",
        "C",
        "C++",
        "Clojure",
        "COBOL",
        "ColdFusion",
        "Erlang",
        "Fortran",
        "Groovy",
        "Haskell",
        "Java",
        "JavaScript",
        "Lisp",
        "Perl",
        "PHP",
        "Python",
        "Ruby",
        "Scala",
        "Scheme"
        ];
        //$("#txtEngId_CreateWs").autocomplete({
        //    source: availableTags
        //});

        $('#txtEngId_CreateWs').autocomplete({

            source: function (request, response) {
                //alert(request);

                $("#divWSAlreadyExists").empty();

                var engNum_Selected = $("#txtEngId_CreateWs").val().trim();
                $("#txtEngId_CreateWs").val(engNum_Selected);

                $.ajax({
                    url: '/api/WsCreate/GetEngDetails?engNum=' + engNum_Selected,
                    headers: {
                        'RequestVerificationToken': GetTokenHeaderValue()
                    },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {

                        if (data.length == 0) {
                            //AmAlert("No Engagement found.");
                            AmAlert("Invalid SYNC engagement number; please check the engagement number and try again.");
                        }

                        response($.map(data, function (item) {
                            return {
                                label: item.EngagementNumber,
                                //id: item.EngagementNumber
                                EngagementNumber: item.EngagementNumber,
                                EngagementDescription: item.EngagementDescription,

                                ClientId: item.ClientId,
                                ClientName: item.ClientName,

                                ManagerName: item.ManagerName,
                                ManagerEmpId: item.ManagerEmpId,
                                ManagerId: item.ManagerId,
                                ManagerFunction: item.ManagerFunction,

                                PartnerName: item.PartnerName,
                                PartnerEmpId: item.PartnerEmpId,
                                PartnerId: item.PartnerId,
                                PartnerFunction: item.PartnerFunction,

                                ParentCompany: item.ParentCompany,

                                PartnerAssistanceId: item.PartnerAssistanceId,
                                PartnerAssistanceEmpId: item.PartnerAssistanceEmpId,
                                PartnerAssistanceName: item.PartnerAssistanceName,
                            }
                        }));
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        HandleError(jqXHR, textStatus, errorThrown);
                        $('.ui-autocomplete-loading').removeClass("ui-autocomplete-loading");
                    },
                    beforeSend: function () {
                        //myApp.showPleaseWait("Loading Workspace details.");
                    },
                    complete: function () {
                        //myApp.hidePleaseWait();
                        $('.ui-autocomplete-loading').removeClass("ui-autocomplete-loading");
                    }

                })
            },
            select: function (event, ui) {
                //alert(ui.item.label);
                //$('#search').val(ui.item.label);response( data );
                //$('#Id').val(ui.item.value);
                //return false;
                var ui_item_engNum = ui.item.EngagementNumber.trim();
                //alert(ui_item_engNum);

                $.ajax({
                    url: '/api/WsCreate/GetIsWSExists?engNum=' + ui_item_engNum,
                    headers: {
                        'RequestVerificationToken': GetTokenHeaderValue()
                    },
                    type: 'GET',
                    dataType: "json",
                    success: function (data) {

                        if (data) {
                            $("#divWSAlreadyExists").append("<mark class='error'>Workspace => " + ui_item_engNum + " already exists.</mark>");
                            //AmAlert("Workspace => " + ui_item_engNum + " already exists.");
                            $("#btnCreateWS_CreateWs").hide();
                            $("#div-req-msg-createWS").hide();
                            $(".disable-when-ws-exists").prop("disabled", "disabled");

                            //$.ajax({
                            //    url: '/api/WsCreate/GetWsProfile_TP?engNum=' + ui_item_engNum,
                            //    headers: {
                            //        'RequestVerificationToken': GetTokenHeaderValue()
                            //    },
                            //    type: 'GET',
                            //    dataType: "json",
                            //    success: function (data) {

                            //        viewModel.tp_Ques(data);

                            //    }
                            //});
                        }
                        else {
                            $("#btnCreateWS_CreateWs").show();
                            $("#div-req-msg-createWS").show();
                            $(".disable-when-ws-exists").prop("disabled", "");
                        }
                        //else {
                        $("#txtEngId_CreateWs").val(ui_item_engNum);
                        //$("#txtEngNum_CreateWs").val(ui_item_engNum);
                        $("#txtEngName_CreateWs").val(ui.item.EngagementDescription);

                        $("#txtClient_CreateWs").val(ui.item.ClientName);
                        $("#txtClientNumber_CreateWs").val(ui.item.ClientId);

                        $("#txtEngMgr_CreateWs").val(ui.item.ManagerName);
                        $("#txtEngMgrId_CreateWs").val(ui.item.ManagerId);
                        $("#txtEngMgrEmpId_CreateWs").val(ui.item.ManagerEmpId);
                        $("#txtManagerFunction").val(ui.item.ManagerFunction);

                        $("#txtEngPar_CreateWs").val(ui.item.PartnerName);
                        $("#txtEngParId_CreateWs").val(ui.item.PartnerId);
                        $("#txtEngParEmpId_CreateWs").val(ui.item.PartnerEmpId);
                        $("#txtPartnerFunction").val(ui.item.PartnerFunction);

                        $("#txtParentCompany").val(ui.item.ParentCompany);

                        $("#txtPartnerAssistanceId").val(ui.item.PartnerAssistanceId);
                        $("#txtPartnerAssistanceEmpId").val(ui.item.PartnerAssistanceEmpId);
                        $("#txtPartnerAssistanceName").val(ui.item.PartnerAssistanceName);


                        $(".divCreateDetails").show();

                        $("#txtEngId_CreateWs").prop("disabled", "disabled");

                        $("#lblValidSyncEngNum").text("Engagement Number");
                        $("#lblValidSyncEngNum").removeClass("col-xs-3");
                        $("#lblValidSyncEngNum").removeClass("col-md-3");
                        $("#lblValidSyncEngNum").addClass("col-xs-2");
                        $("#lblValidSyncEngNum").addClass("col-md-2");
                        //}

                    }
                    ,
                    error: function (jqXHR, textStatus, errorThrown) {
                        HandleError(jqXHR, textStatus, errorThrown);
                    },
                    beforeSend: function () {
                        myApp.showPleaseWait("Loading Workspace details.");
                    },
                    complete: function () {
                        myApp.hidePleaseWait();
                    }
                })
            },
            minLength: 8
        });

        $("#btnCreateWS_CreateWs").click(function () {
            //alert("btnCreateWS_CreateWs");

            var radKPMGContEnt_whatSelected = $("input[name=radKPMGContEnt_CreateWs]:radio:checked").val();
            var radKPMGContEnt_whatComment = $("#txtADesc_CreateWs").val().trim();
            //alert(radKPMGContEnt_whatComment);

            if (!IsNothing(radKPMGContEnt_whatSelected)) {
                if (radKPMGContEnt_whatSelected.IsMatch('Yes')) {
                    if (IsNothing(radKPMGContEnt_whatComment)) {
                        AmAlert("Please enter the comment.");
                        $("#txtADesc_CreateWs").focus();
                        return false;
                    }
                }
            }

            //alert("choo");
            $("#frmCreateWS").submit();

        })

        $("#frmCreateWS").validate({

            errorPlacement: function (error, element) {
                //alert(error);
                // if the input has a prepend or append element, put the validation msg after the parent div
                if (element.parent().parent().hasClass('input-prepend') || element.parent().parent().hasClass('input-append')) {
                    error.insertAfter(element.parent().parent());
                    element.parent().parent().addClass("float-left");
                    error.addClass("margin-Lt-150");
                    // else just place the validation message immediatly after the input
                } else {
                    error.insertAfter(element);
                }
            },
            errorElement: "mark", // contain the error msg in a small tag
            wrapper: "div", // wrap the error message and small tag in a div
            highlight: function (element) {
                $(element).closest('.form-group').addClass('error'); // add the Bootstrap error class to the control group
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error'); // remove the Boostrap error class from the control group
            }

        });

        $('#frmCreateWS').submit(function (e) {

            e.preventDefault();
            var $form = $(this);

            // check if the input is valid
            if (!$form.valid()) return false;

            // Find disabled inputs, and remove the "disabled" attribute
            var disabled = $form.find(':input:disabled').removeAttr('disabled');

            // serialize the form
            var serialized = $form.serialize();

            //alert(serialized);

            // re-disabled the set of inputs that you previously enabled
            disabled.attr('disabled', 'disabled');

            $.ajax(
            {
                type: 'POST',
                url: '/api/WsCreate/CreateWs',
                headers: {
                    'RequestVerificationToken': GetTokenHeaderValue()
                },
                dataType: 'json',
                data: serialized,
                success: function (data, textStatus, xhr) {
                    if (
                        usrId.IsMatch($("#txtEngMgrId_CreateWs").val().replace(/us\\/gi, "")) ||

                        usrId.IsMatch($("#txtEngParId_CreateWs").val().replace(/us\\/gi, "")) ||

                        usrId.IsMatch($("#txtPartnerAssistanceId").val().replace(/us\\/gi, ""))

                        ) {
                        HandleSuccess_WithCallBack("CreateWs", "", Success_CallBack);
                    }
                    else {
                        var wsAdmin = $("#txtEngMgrId_CreateWs").val().replace(/us\\/gi, "") + "@@kpmg.com" +
                            "<br />" + $("#txtEngParId_CreateWs").val().replace(/us\\/gi, "") + "@@kpmg.com";

                        if (!IsNothing($("#txtPartnerAssistanceId").val())) {
                            wsAdmin = wsAdmin + "<br />" + $("#txtPartnerAssistanceId").val().replace(/us\\/gi, "") + "@@kpmg.com";
                        }

                        HandleSuccess_WithCallBack("CreateWs", AmMsg.createWs_NoAccessMsg.format([wsAdmin]), Success_CallBack);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    HandleError(jqXHR, textStatus, errorThrown);
                },
                beforeSend: function () {
                    myApp.showPleaseWait("Creating Workspace.");
                },
                complete: function () {
                    myApp.hidePleaseWait();
                }
            });

        })

        $("#btnClear_CreateWs").click(function () {

            $("#divWSAlreadyExists").empty();

            $("#txtEngId_CreateWs").val('');
            //$("#txtEngNum_CreateWs").val('');
            $("#txtEngName_CreateWs").val('');

            $("#txtClient_CreateWs").val('');
            $("#txtClientNumber_CreateWs").val('');

            $("#txtEngMgr_CreateWs").val('');
            $("#txtEngMgrId_CreateWs").val('');
            $("#txtManagerFunction").val('');

            $("#txtEngPar_CreateWs").val('');
            $("#txtEngParId_CreateWs").val('');
            $("#txtPartnerFunction").val('');

            $("#txtParentCompany").val('');

            $("#txtPartnerAssistanceId").val('');
            $("#txtPartnerAssistanceName").val('');

            $('input:radio[name=radAgrClient_CreateWs]').each(function () { $(this).prop('checked', false); });
            $('input:radio[name=radAgrClientCal_CreateWs]').each(function () { $(this).prop('checked', false); });
            $('input:radio[name=radKPMGContEnt_CreateWs]').each(function () { $(this).prop('checked', false); });

            $("#txtADesc_CreateWs").val('');

            $(".divCreateDetails").hide();
            $("#txtEngId_CreateWs").prop("disabled", "");

            //Enter a valid SYNC Engagement Number
            $("#lblValidSyncEngNum").text("Enter a valid SYNC Engagement Number");
            $("#lblValidSyncEngNum").removeClass("col-xs-2");
            $("#lblValidSyncEngNum").removeClass("col-md-2");
            $("#lblValidSyncEngNum").addClass("col-xs-3");
            $("#lblValidSyncEngNum").addClass("col-md-3");

        })

        $("#btnTest_1").click(function () {
            HandleSuccess_WithCallBack("CreateWs", "", Success_CallBack);
        })
    })

</script>
