<appSettings>
  <add key="IMServer" value="useomapd1003" />
  <add key="IMAdminUserID" value="us-svcdeviwa1" />
  <add key="IMAdminPassword" value="Interwoven2008" />

  <add key="DataSource" value="USEOMCDP040\Interwoven1" />
  <add key="InitialCatalog" value="Active" />
  <add key="SqlUserID" value="idms" />
  <add key="SqlPassword" value="DRMS2011$" />
  <add key="IntegratedSecurity" value="false" />

  <add key="DownloadUserID" value="us-svcdeviwa1" />
  <add key="DownloadPassword" value="Interwoven2008" />
</appSettings>