<appSettings>
  <add key="IMServer" value="DRMSPRDAPPS.us.kworld.kpmg.com" />
  <add key="IMAdminUserID" value="us-svcproddrmsmgr" />
  <add key="IMAdminPassword" value="Interwoven2008" />

  <add key="DataSource" value="useomcdp042\DRMSClus01" />
  <add key="InitialCatalog" value="Active" />
  <add key="SqlUserID" value="idms" />
  <add key="SqlPassword" value="Interwoven2008" />
  <add key="IntegratedSecurity" value="false" />

  <add key="DownloadUserID" value="us-svcproddrms" />
  <add key="DownloadPassword" value="Interw0ven!" />
</appSettings>