<!---Stg-->
<connectionStrings>
  <remove name="LocalSqlServer" />
  <remove name="LocalMySqlServer" />
  
  <add name="aM_conStr" connectionString="Initial Catalog=AuditManager;Data Source=USEOMCDP040\Interwoven1;Network Address=USEOMCDP040\Interwoven1,1113;Network Library=dbmssocn;User Id=idms;Password=DRMS2011$" providerName="System.Data.SqlClient" />
  <add name="ssc_conStr" connectionString="Initial Catalog=eAuditSC2012;Data Source=useomapd797;Network Address=useomapd797;Network Library=dbmssocn;User Id=idms;Password=Interwoven2008" providerName="System.Data.SqlClient" />
  <add name="s2_conStr" connectionString="Initial Catalog=Server2Closure;Data Source=USEOMCDP040\Interwoven1;Network Address=USEOMCDP040\Interwoven1,1113;Network Library=dbmssocn;User Id=idms;Password=DRMS2011$" providerName="System.Data.SqlClient" />
  <add name="active_conStr" connectionString="Initial Catalog=Active;Data Source=USEOMCDP040\Interwoven1;Network Address=USEOMCDP040\Interwoven1,1113;Network Library=dbmssocn;User Id=idms;Password=DRMS2011$"  providerName="System.Data.SqlClient" />
  <add name="ref_conStr" connectionString="Initial Catalog=ReferenceDB;Data Source=USEOMCDP040\Interwoven1;Network Address=USEOMCDP040\Interwoven1,1113;Network Library=dbmssocn;User Id=idms;Password=DRMS2011$"  providerName="System.Data.SqlClient" />
  <add name="errorLog_conStr" connectionString="Initial Catalog=AuditManager;Data Source=USEOMCDP040\Interwoven1;Network Address=USEOMCDP040\Interwoven1,1113;Network Library=dbmssocn;User Id=idms;Password=DRMS2011$" providerName="System.Data.SqlClient" />
  
  <add name="ActiveDirectory" connectionString="LDAP://DC=us,DC=kworld,DC=kpmg,DC=com" />

  <add name="ActiveEntities" 
       connectionString="metadata=res://*/EFDbModel.ActiveModel.csdl|res://*/EFDbModel.ActiveModel.ssdl|res://*/EFDbModel.ActiveModel.msl;
       provider=System.Data.SqlClient;
       provider connection string=&quot;
       data source=USEOMCDP040\Interwoven1,1113;
       initial catalog=Active;
       user id=idms;
       password=DRMS2011$;
       network library=dbmssocn;
       MultipleActiveResultSets=True;
       App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
  
</connectionStrings>