<appSettings>
  <add key="env" value="prod"/>
  <add key="logDrive" value="E" />
 
  <add key="iMServer" value="DRMSPRDAPPS.us.kworld.kpmg.com" />

  <add key="isImTLogin" value="True"/>

  <add key="imLoginId" value="us-svcproddrmsmgr" />
  <add key="imPwd" value="Interwoven2008" />

  <add key="imAdminLoginId" value="us-svcproddrmsmgr" />
  <add key="imAdminPwd" value="Interwoven2008" />

  <add key="isAdTLogin" value="False"/>
  <add key="adLoginId" value="us-svcdeviwa1"/>
  <add key="adPwd" value="Interwoven2008"/>

  <!--<add key="WsCreateTemplateFldrId" value="838436" />-->
  <add key="WsCreateTemplateFldrId" value="1028472" />

  <add key="rootUrl" value="https://drmsmanager.us.kworld.kpmg.com/"/>

  <add key="PrjNDcs_baseUri" value="https://usmdckpdb3009.us.kworld.kpmg.com/LaunchSiteService/"/>
  <add key="LauchSite_baseUri" value="https://usmdckpdb3009.us.kworld.kpmg.com/LaunchSiteService/"/>

  <!--Up Down URL-->
  
  <!--1505 points to USEOMAPP2050
  1506 points to USEOMAPP2054-->

  <!--<add key="DownloadUrl_Ip" value="http://USEOMAPP2050:8088/FileTransfer1/Download.aspx?docnum={0}&amp;userId={1}&amp;env={2}&amp;engNum={3}" />
  <add key="DownloadUrl" value="http://USEOMAPP2050:8088/FileTransfer1/GetFile.aspx?docnum={0}&amp;userId={1}&amp;env={2}&amp;engNum={3}&amp;docname={4}" />
  <add key="UploadUrl" value="http://USEOMAPP2050:8088/FileTransfer1/upload.aspx?engNum={0}&amp;path={1}&amp;env={2}&amp;userId={3}" />-->

  <!--<add key="DownloadUrl_Ip" value="http://localhost:58578/Download/Index?fileName={0}&amp;fileNumber={1}&amp;fileObjId={2}&amp;isExternal={3}" />
  <add key="DownloadUrl" value="http://localhost:58578/Download/Index?fileName={0}&amp;fileNumber={1}&amp;fileObjId={2}&amp;isExternal={3}" />-->

  <add key="DownloadUrl" value="http://localhost:58578/Download/Index?num={0}&amp;isExternal={1}" />
  <add key="UploadUrl" value="http://localhost:58578/UploadFile.aspx?ws={0}&amp;fldr={1}&amp;isObjID={2}" />

</appSettings>