<appSettings>
  <add key="env" value="prod"/>
  <add key="logDrive" value="E" />
  <add key="iMServer" value="DRMSPRDAPPS.us.kworld.kpmg.com" />
  <add key="isImTLogin" value="false"/>
  <add key="imLoginId" value="viveksingh1" />
  <add key="imPwd" value="trusted" />
  <add key="imAdminLoginId" value="us-svcproddrmsmgr" />
  <add key="imAdminPwd" value="Interwoven2008" />
  <add key="isAdTLogin" value="False"/>
  <add key="adLoginId" value="us-svcdeviwa1"/>
  <add key="adPwd" value="Interwoven2008"/>
  <add key="WsCreateTemplateFldrId" value="1028472" />
  <add key="PrjNDcs_baseUri" value="https://usmdckpdb3009.us.kworld.kpmg.com/LaunchSiteService/"/>
  <add key="LauchSite_baseUri" value="https://usmdckpdb3009.us.kworld.kpmg.com/LaunchSiteService/"/>

  <add key="DownloadUrl" value="https://USEOMAPP1723.us.kworld.kpmg.com/Download/Index?num={0}&amp;isExternal={1}" />
  <add key="UploadUrl" value="https://USEOMAPP1723.us.kworld.kpmg.com/UploadFile.aspx?ws={0}&amp;fldr={1}&amp;isObjID={2}" />

</appSettings>